@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
footer{
    background-color: black;
    padding: 20px 0px 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
footer #item-2 ul{
    list-style: none;
}
footer #item-2 ul li a{
    text-decoration: none;
    color: white;
}
#item-3 svg{
    margin: 7px;
    height: 2.3rem;
    width: 2.3rem;
}
#item-3 a{
    text-decoration: none;
    color: white;
}

#item-3 a:hover{
    color: blue;
}
#item-3 a svg:hover{
    height: 2.5rem;
    width: 2.5rem;
}
#aboutHeader{
background-color: rgb(38, 63, 201);   
margin-bottom: 50px;
padding-top: 40px;
padding-left: 50px;
padding-right: 50px;
display: flex;
justify-content: space-around;
}
.itemsAbout{
    width: 50%;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    margin-right: 20px;
}
.formContact{
    background-color: rgb(240, 240, 240);
}

@media screen and (max-width:571px){
footer{
    flex-direction: column;
    align-items:flex-start;
}
footer{
    padding-left: 35px;
    padding-bottom: 30px;
}
footer ul{
  margin-left: -26px;
}
#item-3 svg{
    height: 1.5rem;
    width: 1.5rem;
}
#aboutHeader{
    flex-direction: column;
    align-items: center;
}
.itemsAbout{
    font-size: 1rem;
    width: auto;
    text-align: center;
}
.formContact{
    background: none;
}
}